{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/attraction.css') }}">
{% endblock %}

{% block content %}
<section class="attraction-info">
  <div class="title-container">
    <h1 class="text-primary">{{ attraction.name }}</h1>
    <p class="lead">
      {% for cat in attraction.category %}
        <span>{{ cat.name }} {% if not loop.last %}, {% endif %}</span>
      {% endfor %}
    </p>
    <ul class="tags">
      {% for tag in attraction.tags %}
        <li>{{ tag.name }} {% if not loop.last %}<span>&#xB7;</span> {% endif %}</li>
      {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
      <div class="form-control visited">
        <input 
          type="checkbox" 
          id="visitedCheckbox" 
          name="visited"
          onchange="markAsVisited('{{ attraction.id }}')" 
          {% if visited %}checked{%endif %}>
          <label for="visitedCheckbox" class="visited-text">
            {{ 'Visited' if visited else 'Mark as visited'}}
          </label>
      </div>
      <div class="form-control wishlist">
        <input 
          type="checkbox" 
          id="wishlistCheckbox" 
          name="wishlist"
          onchange="markAsVisited('{{ attraction.id }}')" 
          {% if wishlist %}checked{%endif %}>
          <label for="wishlistCheckbox" class="wishlist-text">
            {{ 'Wishlist' if wishlist else 'Mark as wishlist'}}
          </label>
      </div>
  {% endif %}
  </div>
  

  <div class="content">
    <div class="image-container">
      <div class="points"><span>🏆</span> {{ attraction.points }} points</div>
      <img src="{{ attraction.image }}" alt="{{ attraction.name }}">
    </div>
    <div class="text-container">
      <h3>About</h3>
      <p>{{ attraction.description }}</p>
      <p><strong>Location:</strong> {{ attraction.location }}</p>
      {% if attraction.age_groups %}
        <p><strong>Suitable for:</strong>
          {% for age_group in attraction.age_groups %}
          <span>{{ age_group.name }} {% if not loop.last %}, {% endif %}</span>
          {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% if current_user.is_authenticated %}
<script>
  function markAsVisited(attractionId) {
    const visited = document.getElementById('visitedCheckbox').checked;
    const visitedText = document.querySelector('.visited-text');
    visitedText.innerHTML = visited ? 'Visited' : 'Mark as visited';

    fetch(`/attractions/${attractionId}/mark_as_visited`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ visited: visited })
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);  // Behandle serverresponsen her.
    })
    .catch(error => console.error('Error:', error));
  }
  </script>
  {% endif %}
  {% endblock %}