{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attractions.css') }}">
{% endblock %}

{% set categories_visible = filter_form.categories.choices %}
{% set age_groups_visible = filter_form.age_groups.choices %}
{% set tags_visible = filter_form.tags.choices %}

{% block content %}
<div class="wrapper attractions">
    <div class="title-container">
        <div class="title">
            <h1>Explore Attractions in Tromsø</h1>
        </div>
    </div>
    <div class="form-wrapper" id="search-attractions-form">
        <form class="search" method="POST" action="{{ url_for('attractions.get_attractions') }}">
            {{ search_form.hidden_tag() }}
            <div class="search-text form-control">
                {{ search_form.search_text }}
                {{ search_form.submit }}
            </div>
        </form>
    </div>
    {% if categories_visible or age_groups_visible or tags_visible %}
    <div class="filter-wrapper" id="filter-attractions-form">
        <form class="filter">
            {{ filter_form.hidden_tag() }}
            <p><a href="{{ url_for('attractions.get_attractions') }}">Clear all filters</a></p>
            <br>
            {% if filter_form.categories.choices %}
            <b>{{ filter_form.categories.label }}</b>
            {{ filter_form.categories(id="category-checkbox") }}
            {% endif %}
            <br>
            {% if filter_form.age_groups.choices %}
            <b>{{ filter_form.age_groups.label }}</b>
            {{ filter_form.age_groups(id="age-group-checkbox") }}
            {% endif %}
            <br>
            {% if filter_form.tags.choices %}
            <b>{{ filter_form.tags.label }}</b>
            {{ filter_form.tags(id="tag-checkbox") }}
            {% endif %}
        </form>
    </div>
    {% endif %}
    <div class="attractions-container">
        {% if attractions == [] %}
        <br>
        <h2>Sorry, we couldn't find any attractions based on «{{ search_form.search_text.data }}».</h2>
        <h3>Please try again or <a href="{{ url_for('attractions.get_attractions') }}">go back</a>.</h3>
        {% endif %}

        <div class="attractions-grid" id="filtered-results">
            <!-- Filtered results will be displayed here -->
            {% for attraction in attractions %}
            {% include 'attractions_items.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}