{% extends "base.html" %}

{% block content %}
  <div>
        <h1>Attractions</h1>
        <div>
            {% for attraction in attractions %}
            <div>
                <div>
                    {% if attraction.image %}
                    <img src="{{ attraction.image }}" alt="{{ attraction.name }}">
                    {% endif %}
                    <div>
                        <h5>{{ attraction.name }}</h5>
                        <p>{{ attraction.description }}</p>
                    </div>
                    <div>
                        <small>Location: {{ attraction.location }}</small>
                        <br>
                        <small>Points of Interest: {{ attraction.points }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

