{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/attractions.css') }}">
{% endblock %}

{% block content %}
<section class="attraction-info">
  <h1>{{ attraction.name }}</h1>
  <p>{{ attraction.description }}</p>
  <p><b>Address:</b> {{ attraction.location }}</p>
  <p><b>Points:</b> {{ attraction.points }}</p>
  
  <p>
  {% if current_user.is_authenticated %}
    {% if visited %}
      <input type="checkbox" id="visitedCheckbox" name="visited" onchange="markAsVisited('{{ attraction.id }}')" checked> Besøkt
    {% else %}
      <input type="checkbox" id="visitedCheckbox" name="visited" onchange="markAsVisited('{{ attraction.id }}')"> Merk som besøkt
    {% endif %}
  {% endif %}
  </p>
  
  <img src="{{ attraction.image }}" alt="{{ attraction.name }}">
  
  
</section>

{% if current_user.is_authenticated %}
<script>
  function markAsVisited(attractionId) {
    const visited = document.getElementById('visitedCheckbox').checked;
    fetch(`/attractions/${attractionId}/mark_as_visited`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ visited: visited })
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);  // Behandle serverresponsen her.
    })
    .catch(error => console.error('Error:', error));
  }
  </script>
  {% endif %}
  {% endblock %}