{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attractions.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper attractions">
    <div class="title-container">
        <div class="title">
            <h1>Explore Attractions in Tromsø</h1>
        </div>
    </div>
    <div class="form-wrapper" id="search-attractions-form">
        <form class="search" method="POST" action="{{ url_for('attractions.get_attractions') }}">
            {{ search_form.hidden_tag() }}
            <!-- TODO: Add category, tags, age groups select fields -->
          <div class="search-text form-control">
              {{ search_form.search_text }}
              {{ search_form.submit }}
          </div>
        </form>
      </div>
    <div class="attractions-container">
        <div class="categories-container">
            <form id="category-form">
                <div class="form-group">
                    {{ filter_form.categories.label }}
                    {{ filter_form.categories }}
                </div>
            </form>
        </div>
        <div class="attractions-grid" id="filteredResults">
            <!-- Filtered results will be displayed here -->
            {% for attraction in attractions %}
                {% include 'attractions_items.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}