{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attractions.css') }}">
{% endblock %}

{% set categories_visible = filter_form.categories.choices %}
{% set age_groups_visible = filter_form.age_groups.choices %}
{% set tags_visible = filter_form.tags.choices %}

{% block content %}
<div class="wrapper attractions">
    <div class="title-container">
        <div class="title">
            <h1>{{ _("Explore Attractions in ") }}{{ city.name }}</h1>
        </div>
    </div>
    <div class="content">
        <div class="form-wrapper" id="search-attractions-form" x-data="attractionFilters()" x-init="initFilters">
            {% if request.path == url_for('attractions.suggested_attractions') %}
            <form action="{{ url_for('attractions.get_attractions') }}" method="POST" class="full-width-btn-form">
                <button type="submit" class="full-width-btn quick-search-btn">{{ _("See all attractions!") }}</button>
            </form>
            {% elif current_user.is_authenticated %}
            <form action="{{ url_for('attractions.suggested_attractions') }}" method="POST" class="full-width-btn-form">
                <button type="submit" class="full-width-btn quick-search-btn">{{ _("Suggest for me!") }}</button>
            </form>
            {% endif %}
            <form class="search" method="POST" action="{{ url_for('attractions.search_attractions') }}">
                {{ search_form.hidden_tag() }}
                <div class="search-text form-control">
                    {{ search_form.search_text }}
                    {{ search_form.submit }}
                </div>
            </form>
            <div class="filters-btn-container">
                <button @click="showFilters = !showFilters" class="filters-btn">
                    <template x-if="!showFilters">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/></svg>
                    </template>
                    <template x-if="showFilters">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-filter-x"><path d="M13.013 3H2l8 9.46V19l4 2v-8.54l.9-1.055"/><path d="m22 3-5 5"/><path d="m17 3 5 5"/></svg>
                    </template>
                    <span x-text="showFilters ? 'Hide Filters' : 'Show Filters'"></span>
                </button>
            </div>
            {% if categories_visible or age_groups_visible or tags_visible %}
            <div class="filter-wrapper" id="filter-attractions-form" x-show="showFilters">
                <form class="filter" action="/attractions" method="POST">
                    <p><a href="{{ url_for('attractions.get_attractions') }}">{{ _("Clear all filters") }}</a></p>
                    <div class="filters-container">
                        <div class="form-control">
                            {% if filter_form.categories.choices %}
                                <b>{{ filter_form.categories.label.text }}</b>
                                <ul id="category-checkbox">
                                    {% for choice in filter_form.categories %}
                                        <li>
                                            <input id="{{ choice.id }}" name="{{ filter_form.categories.name }}" type="checkbox" value="{{ choice.data }}" {% if choice.data in filter_form.categories.data %} checked {% endif %}>
                                            <label for="{{ choice.id }}">{{ choice.label.text|translate }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="form-control">
                            {% if filter_form.age_groups.choices %}
                            <b>{{ filter_form.age_groups.label }}</b>
                            <ul id="age-group-checkbox">
                                {% for choice in filter_form.age_groups %}
                                <li>
                                    <input id="{{ choice.id }}" name="{{ filter_form.age_groups.name }}" type="checkbox" value="{{ choice.data }}" {% if choice.data in filter_form.age_groups.data %} checked {% endif %}>
                                    <label for="{{ choice.id }}">{{ choice.label.text|translate }}</label>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="form-control">
                            {% if filter_form.tags.choices %}
                            <b>{{ filter_form.tags.label }}</b>
                            <ul id="tag-checkbox">
                                {% for choice in filter_form.tags %}
                                <li>
                                    <input id="{{ choice.id }}" name="{{ filter_form.tags.name }}" type="checkbox" value="{{ choice.data }}" {% if choice.data in filter_form.tags.data %} checked {% endif %}>
                                    <label for="{{ choice.id }}">{{ choice.label.text|translate }}</label>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
            {% endif %}
        </div>
    
        <div class="attractions-container">
            {% if attractions == [] %}
            <br>
            <h2>{{ _("Sorry, we couldn't find any attractions based on the given criteria.") }}</h2>
            <h3>{{ _("Please try again with different search terms or filters, or you can always") }} <a href="{{ url_for('attractions.get_attractions') }}">{{ _("go back to the main attractions page") }}</a>.</h3>
            {% endif %}
    
            <div class="attractions-grid" id="filtered-results">
                <!-- Filtered results will be displayed here -->
                {% for attraction in attractions %}
                {% include 'attractions_items.html' %}
                {% endfor %}
            </div>
            
            <!-- Pagination controls -->
            {% if total_pages > 0 %}
            <div class="pagination">
                <span>{{ _("Page") }} {{ current_page }} {{ _("of") }} {{ total_pages }}</span>
                {% if current_page > 1 %}
                <a href="?page=1{% for arg in request.args %}{% if arg != 'page' %}&{{ arg }}={{ request.args[arg] }}{% endif %}{% endfor %}">First</a>
                <a href="?page={{ current_page - 1 }}{% for arg in request.args %}{% if arg != 'page' %}&{{ arg }}={{ request.args[arg] }}{% endif %}{% endfor %}">Previous</a>
            {% endif %}
            {% if current_page < total_pages %}
                <a href="?page={{ current_page + 1 }}{% for arg in request.args %}{% if arg != 'page' %}&{{ arg }}={{ request.args[arg] }}{% endif %}{% endfor %}">Next</a>
                <a href="?page={{ total_pages }}{% for arg in request.args %}{% if arg != 'page' %}&{{ arg }}={{ request.args[arg] }}{% endif %}{% endfor %}">Last</a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.querySelector('.search').addEventListener('submit', function(event) {
        event.preventDefault()
        var searchText = document.getElementById('search_text').value
        var url = "{{ url_for('attractions.search_attractions') }}" + "?q=" + encodeURIComponent(searchText)
        window.location.href = url
    })
</script>
{% endblock %}
