{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/attraction.css') }}">
{% endblock %}

{% block content %}
<section class="attraction-info">
  <div class="title-container">
    <h1 class="text-primary">{{ attraction.name }}</h1>
    <p class="lead">
      {% for cat in attraction.category %}
        <span>{{ cat.name | translate }} {% if not loop.last %}, {% endif %}</span>
      {% endfor %}
    </p>
    <ul class="tags">
      {% for tag in attraction.tags %}
        <li>{{ tag.name | translate }} {% if not loop.last %}<span>&#xB7;</span> {% endif %}</li>
      {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
    <div class="attraction-actions">
      <div x-data="visitedAttraction({{ attraction.id}}, {{ visited | lower}})">
        <template x-if="!visited">
          <div class="visited-info">
            <button @click="addToVisited()">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Zm0,176H48V48H208V208Z"></path></svg>
            </button>
            <span>{{_('Mark as visited')}}</span>
          </div>
        </template>
        <template x-if="visited">
          <div class="visited-info">
            <button @click="removeFromVisited()">
              <svg class="primary-fill" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
            </button>
            <span>{{_('Visited')}}</span>
          </div>
        </template>
    </div>

      <div x-data="wishlist({{ attraction.id}}, {{groups}})" class="wishlist">
        <template x-if="groups.length == 0">
          <div class="wishlist-info">
            <button @click="createNewGroup()">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64Zm8,72h64a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16Zm80,48H40a8,8,0,0,0,0,16h80a8,8,0,0,0,0-16Zm128-40c0,36.52-50.28,62.08-52.42,63.16a8,8,0,0,1-7.16,0C186.28,206.08,136,180.52,136,144a32,32,0,0,1,56-21.14A32,32,0,0,1,248,144Zm-16,0a16,16,0,0,0-32,0,8,8,0,0,1-16,0,16,16,0,0,0-32,0c0,20.18,26.21,39.14,40,46.93C205.79,183.15,232,164.19,232,144Z"></path></svg>
            </button>
            <span>{{_('New list')}}</span>
          </div>
        </template>
          <template x-if="groups.length > 0 && !inAllGroups">
            <div class="wishlist-info">
              <button @click="toggleEditList()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64Zm8,72h64a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16Zm80,48H40a8,8,0,0,0,0,16h80a8,8,0,0,0,0-16Zm128-40c0,36.52-50.28,62.08-52.42,63.16a8,8,0,0,1-7.16,0C186.28,206.08,136,180.52,136,144a32,32,0,0,1,56-21.14A32,32,0,0,1,248,144Zm-16,0a16,16,0,0,0-32,0,8,8,0,0,1-16,0,16,16,0,0,0-32,0c0,20.18,26.21,39.14,40,46.93C205.79,183.15,232,164.19,232,144Z"></path></svg>
              </button>
              <span>{{_('Add to list')}}</span>
            </div>
          </template>
          <template x-if="groups.length > 0 && inAllGroups">
            <div class="wishlist-info">
              <button @click="toggleEditList()">
                <svg class="primary-fill" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64Zm8,72h64a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16Zm80,48H40a8,8,0,0,0,0,16h80a8,8,0,0,0,0-16Zm128-40c0,36.52-50.28,62.08-52.42,63.16a8,8,0,0,1-7.16,0C186.28,206.08,136,180.52,136,144a32,32,0,0,1,56-21.14A32,32,0,0,1,248,144Zm-16,0a16,16,0,0,0-32,0,8,8,0,0,1-16,0,16,16,0,0,0-32,0c0,20.18,26.21,39.14,40,46.93C205.79,183.15,232,164.19,232,144Z"></path></svg>
              </button>
              <span>{{_('Remove from list')}}</span>
            </div>
          </template>
          
          <div class="list-info-panel" x-show="editList">
            <ul>
              <template x-for="group in groups" :key="group.id">
                <li>
                  <span x-text="group.title"></span>
                  <button x-show="group.visited" class="btn btn-small btn-danger remove-from-group" @click="removeFromGroup(group.id)">Remove
                  </button>
                  <button x-show="!group.visited" class="btn btn-small btn-primary add-to-group" @click="addToGroup(group.id)">Add</button>
                </li>
              </template>
            </ul>
          </div>
      </div>
    </div>
  {% endif %}
  </div>
  

  <div class="content">
    <div class="image-container">
      <div class="points"><span>🏆</span> {{ attraction.points }} {{ _("points") }}</div>
      <img src="{{ attraction.image }}" alt="{{ attraction.name }}">
    </div>
    <div class="text-container">
      <h3>{{ _("About") }}</h3>
      <p>{{ attraction.description | translate }}</p>
      <p><strong>{{ _("Location") }}:</strong> {{ attraction.location }}</p>
      {% if attraction.age_groups %}
        <p><strong>{{ _("Suitable for") }}:</strong>
          {% for age_group in attraction.age_groups %}
          <span>{{ age_group.name | translate }} {% if not loop.last %}, {% endif %}</span>
          {% endfor %}
      {% endif %}
    </div>
    
  </div>

    {% if current_user.is_authenticated %}
      <div class="new-comment-container">
        <p>VIL DU KOMMENTERE?!</p>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          {{ form.comment.label }}
          {{ form.comment }}
          {{ form.submit() }}
        </form>
      </div>
    {% endif %}

  <div class="text-comment-container">
    {% if comments %}
        {{ pagination.info }}
        {{ pagination.links }}
        {% for comment in comments %}
          <div class="comment-container">
            <div class="comment-user-info">
              <div class="comment-image">
                <img src="{{ comment.user.gravatar() }}" alt="">
              </div>
              <p class="comment-username">{{ comment.user.username }}</p>
              <div>
                <p class="comment-created">{{ moment(comment.created_at).fromNow(refresh=True) }}</p>
            </div>
            </div>
            <div class="comment-content">
              <p>{{ comment.comment_text }}</p>
            </div>
            {% if comment.edited_at %}
              <div class="comment-edit-info">
                <p>Edited: {{ comment.editor.username }}, {{ moment(comment.edited_at).fromNow(refresh=True) }}</p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {{ pagination.links }}
    {% endif %}
</section>
{% endblock %}