{% extends "base.html" %}

{% block content %}
<section class="landing">
    <div class="content">
        <div class="text-image-container">
            <div class="text-content">
                <h1 class="text-primary text-center">About</h1>
                <p class="lead">
                    “{{ _("In the beginning this app was created. This has made a lot of people very angry and has been widely regarded as a bad move. - Anonymous Developer") }}”
                </p>
            </div>
            <div class="image-content">
                <img src="{{ url_for('static', filename='img/God2.webp') }}" alt="Image Description">
            </div>
        </div>
    </div>
</section>
{% endblock %}
