{% extends "base.html" %}

{% block styles %}
<script defer
src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attractions.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper attractions">
    <div class="title-container">
        <div class="title">
            <h1>{{ _("Change Babel Fish") }}</h1>
        </div>
    </div>
    <div class="content">
        <div class="form-wrapper">
			<img src="{{ url_for('static', filename='img/babelfish.gif') }}" alt="">
            <form method="POST" action="{{ url_for('main.language') }}">
				<fieldset>
					<legend>{{ _("Change babelfish settings:") }}</legend>
					{% for lang in config.LANGUAGES %}
						<input type="radio"value="{{ lang }}" id="{{ lang }}" value="{{ lang }}" name="languages" {% if lang == session['language'] %} checked {% endif %}>
						<label for="{{ lang }}"> <img src="{{ url_for('static', filename='img/flag/%s.png' % lang) }}" alt="" style="width: 16px; height: 16px;"> {{ config.LANGUAGES.get(lang) }}</label><br>
					{% endfor %}
				  </fieldset>
				  <input type="submit" value="{{ _("Change Language") }}" name="languages">
			</form>
		</div>
	</div>
</div>
{% endblock %}