{% extends "base.html" %}

{% block content %}
<div class="babel-fish">
	<h1>{{ _("Change Babel Fish") }}</h1>
	<div class="form-wrapper">
		<img src="{{ url_for('static', filename='img/babelfish.gif') }}" alt="">
		<form method="POST" action="{{ url_for('main.language') }}">
			<fieldset>
				<legend>{{ _("Change babelfish settings:") }}</legend>
				{% set default_language = session.get('language') or 'en' %}
				{% for lang in config.LANGUAGES %}
				<div class="form-control">
					<input type="radio" value="{{ lang }}" id="{{ lang }}"
						value="{{ lang }}" name="languages" {% if default_language==lang %}
						checked {% endif %}>
					<label for="{{ lang }}"> <img
							src="{{ url_for('static', filename='img/flags/%s.svg' % lang) }}"
							alt=""> {{ config.LANGUAGES.get(lang) }}</label>
				</div>
				{% endfor %}
			</fieldset>
			<input type="submit" value="{{ _(" Change Language") }}" name="languages"
				class="btn btn-primary btn-small">
		</form>
	</div>
</div>
{% endblock %}