.attraction-info {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 4rem;
  color: var(--white);
}

.attraction-info .title-container {
  padding: 0 1rem 2rem;
  position: relative;

}

.attraction-info h1 {
  font-size: 2.3rem;
  line-height: 1.3;
} 

.attraction-info p.lead {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  line-height: 1.3;
  padding-bottom: .5rem;;
}

.attraction-info .tags {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--secondary-font);
  font-size: .9rem;
  gap: .25rem .5rem;
  color: var(--bg-light);
}

.attraction-info .tags li {
  display: flex;
  gap: .5rem;
}

.attraction-info .attraction-actions {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}


.attraction-info .wishlist  .list-info-panel {
  background-color: var(--dark-blue);
  color: var(--white);
  position: absolute;
  right: 0;
  width: 100%;
  border-radius: .5rem;
  padding: 1rem;
  z-index: 100;
  box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
  margin-top: 5px;
}

.attraction-info .wishlist  .list-info-panel li{
  display: flex;
  justify-content: space-between;
  padding: .25rem;
}

.attraction-info .wishlist .list-info-panel li span {
  width: 75%;
  text-wrap: wrap;
}

.attraction-info .wishlist .list-info-panel li button {
  width: 25%;
  
}


.attraction-info .wishlist-info,
.attraction-info .visited-info {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.attraction-info .wishlist-info button,
.attraction-info .visited-info button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.attraction-info .wishlist-info svg,
.attraction-info .visited-info svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}

.attraction-info .wishlist-info svg.primary-fill,
.attraction-info .visited-info svg.primary-fill {
  fill: var(--primary);
  stroke: #fff;
}

.attraction-info .wishlist-info span,
.attraction-info .visited-info span {
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: var(--white);
}


.attraction-info .content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  border-radius: 1rem;
  margin-top: 5rem;
  padding-top: .5rem;
}

.attraction-info .image-container {
  padding: 0 1rem 1rem;
  margin-top: -5rem;
  position: relative;
}

.attraction-info .points {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  gap: 5px;
  color: var(--black);
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: .5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
}

.attraction-info img {
  border-radius: 1rem;
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
}

.attraction-info .text-container {
  padding: 1rem;
  padding-top: 0;
  color: var(--black);
}

.attraction-info h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  padding-bottom: .5rem;
}

.attraction-info p {
  font-size: 1rem;
  line-height: 1.3;
  padding-bottom: 1rem;
}

@media (min-width: 500px) {
  .attraction-info {
    padding: 0 2rem;
  }

  .attraction-info h1 {
    font-size: 2.75rem;
  }

  .attraction-info p.lead {
    font-size: 1.3rem;
  }

  .attraction-info .tags li {
    font-size: 1rem;
  }

  .attraction-info h3 {
    font-size: 1.7rem;
  }
  
  .attraction-info p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
}

@media (min-width: 768px) {
  .attraction-info .content {
    padding: 1.5rem;
  }

  .attraction-info p.lead {
    max-width: 650px;
  }
}

@media (min-width: 992px) {
  .attraction-info {
    max-width: 1300px;
    padding: 0 2rem;
  }
  
  .attraction-info .content {
    flex-direction: row;
    position: relative;
    margin-top: 1rem;
    background-color: transparent;
    padding-left: 0;
  }

  .attraction-info .image-container {
    padding: 0;
    padding-left: 2rem;
    margin-top: 2rem;
    position: absolute;
    order: 2;
    width: 60%;
    left: 40%;
  }

  .attraction-info .text-container {
    order: 1;
    background-color: var(--bg-light);
    border-radius: 1rem;
    padding: 3rem 2rem;
    padding-right: 10%;
    width: 50%;
    min-height: 500px;
  }

  .attraction-info .attraction-actions {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 1rem;
      font-size: 1.2rem;
      flex-direction: column;
      align-items: end;
      gap: .5rem;
  }

  .attraction-info .wishlist-info button,
  .attraction-info .visited-info button {
    order: 2;
  }

  .attraction-info .wishlist-info button svg,
  .attraction-info .visited-info button svg {
    width: 32px;
    height: 32px;
  }

  .attraction-info .wishlist-info span,
  .attraction-info .visited-info span {
    order: 1;
    font-size: 1.15rem;
  }

  .attraction-info .wishlist .wishlist-info {
    position: relative;
  }

  .attraction-info .wishlist  .list-info-panel {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .attraction-info .content {
    align-items: center;
  }


  .attraction-info p.lead {
    max-width: 800px;
  }

  .attraction-info .image-container {
    margin-top: 0;
  }

  .attraction-info .comment-container {
    background-color: var(--bg-light);
    display: flex;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    color: black;
  }

  .attraction-info .comment-image {
    
  }

  .attraction-info .comment-user-info {
    padding: 5px;
    align-items: center;
    text-align: center;
    width: 10%;
  }

  .attraction-info .comment-content {
    width: 90%;
  }

  .attraction-info .comment-edit-info {
    
  }

  .attraction-info .comment-username {
    font-weight: bold;
    padding: 0px;
  }

  .attraction-info .comment-created {
    font-style: italic;
  }
  .pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 2px;
  background-color: #f0f0f0; /* Legg til bakgrunnsfarge */
}

.new-comment-container {
  display: block;
  background-color: var(--bg-light);
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  color: black;
  padding: 5px;
  /* display: block;
  width: 100%;
  background-color: var(--medium-grey);
  padding: 5px; */
}

.new-comment-container textarea {
  width: 100%;
}

.new-comment-container button {
  float: right;
}

.new-comment-container textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.text-comment-container textarea {
  width: 100%;
  height: 70%;
  resize: none;
}

  
}

