.attraction-info {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 4rem;
  color: var(--white);
}

.attraction-info .title-container {
  padding: 0 1rem 2rem;
  position: relative;

}

.attraction-info h1 {
  font-size: 2.3rem;
  line-height: 1.3;
} 

.attraction-info p.lead {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  line-height: 1.3;
  padding-bottom: .5rem;;
}

.attraction-info .tags {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--secondary-font);
  font-size: .9rem;
  gap: .25rem .5rem;
  color: var(--bg-light);
}

.attraction-info .tags li {
  display: flex;
  gap: .5rem;
}

.attraction-info .attraction-actions {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}


.attraction-info .wishlist  .list-info-panel {
  background-color: var(--dark-blue);
  color: var(--white);
  position: absolute;
  right: 0;
  width: 100%;
  border-radius: .5rem;
  padding: 1rem;
  z-index: 100;
  box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
  margin-top: 5px;
}

.attraction-info .wishlist  .list-info-panel li{
  display: flex;
  justify-content: space-between;
  padding: .25rem;
}

.attraction-info .wishlist .list-info-panel li span {
  width: 75%;
  text-wrap: wrap;
}

.attraction-info .wishlist .list-info-panel li button {
  width: 25%;
  
}


.attraction-info .wishlist-info,
.attraction-info .visited-info {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.attraction-info .wishlist-info button,
.attraction-info .visited-info button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.attraction-info .wishlist-info svg,
.attraction-info .visited-info svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}

.attraction-info .wishlist-info svg.primary-fill,
.attraction-info .visited-info svg.primary-fill {
  fill: var(--primary);
  stroke: #fff;
}

.attraction-info .wishlist-info span,
.attraction-info .visited-info span {
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: var(--white);
}


.attraction-info .content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  border-radius: 1rem;
  margin-top: 5rem;
  padding-top: .5rem;
}

.attraction-info .image-container {
  padding: 0 1rem 1rem;
  margin-top: -5rem;
  position: relative;
}

.attraction-info .points {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  gap: 5px;
  color: var(--black);
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: .5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
}

.attraction-info img {
  border-radius: 1rem;
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
}

.attraction-info .text-container {
  padding: 1rem;
  padding-top: 0;
  color: var(--black);
}

.attraction-info h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  padding-bottom: .5rem;
}

.attraction-info p {
  font-size: 1rem;
  line-height: 1.3;
  padding-bottom: 1rem;
}

/* Comment section */
.new-comment-container {
  background-color: var(--dark-blue);
  width: 100%;
  border-radius: 1rem;
  color: var(--dark-blue);
  color: var(--white);
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 4px 2px 16px -25px rgba(0,0,0,0.75);
}

.new-comment-container p {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
  padding-bottom: 1rem;
  color: var(--white);

}

.attraction-info .form-control {
  position: relative;
}

.attraction-info .form-control label {
  position: absolute;
  left: calc(1rem - 3px);
  top: 0;
  transform: translateY(-50%);
  background-color: var(--dark-blue);
  padding: 0 3px;
  font-size: .8rem;
  font-family: var(--secondary-font);
  color: var(--white);
}

.new-comment-container textarea {
  width: 100%;
  height: 75px;
  padding: 1rem;
  background-color: var(--dark-blue);
  color: var(--white);
  border-color: var(--white);
  border-radius: .5rem;
  max-width: 100%;
}

.new-comment-container .btn-container {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 1rem;
}


.attraction-info .text-comment-container {
  padding: 1rem 0;
}

.attraction-info .pagination-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem .5rem 0;
}

.attraction-info .pagination-page-info {
  padding-bottom: 5px;
}

.attraction-info .pagination-page-info b{
  background-color: var(--bg-light);
  color: var(--dark-blue);
  padding: 2px 5px;
}

.attraction-info .ui.pagination.menu {
  padding-bottom: 5px;
}

.attraction-info .bottom-pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.attraction-info .pagination a.active {
  background-color: var(--darken-primary);
}

.attraction-info .pagination a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  margin: 0 2px;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.attraction-info .pagination a:hover {
  background-color: var(--darken-primary);
}

.attraction-info .comments-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.attraction-info .comment-container {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--primary);
  border-radius: 1rem;
}

.attraction-info .comment-user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.attraction-info .comment-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.attraction-info .comment-user-info .comment-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  color: var(--bg-light);
}

.attraction-info .comment-user-info .comment-username {
  padding: 0;
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: 1rem;
}

.attraction-info .comment-user-info .comment-created {
  font-style: italic;
  font-size: .8rem;
  padding: 0;
}

.attraction-info .comment-content {
  padding: .5rem 0;
  font-family: monospace;
}

.attraction-info .comment-content pre {
  white-space: pre-wrap; 
  word-wrap: break-word;
}

.attraction-info .edited-on {
  font-style: italic;
  font-size: .9rem;
  padding: .5rem 0;
}

.attraction-info .btn-container-comment {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding-top: .5rem;
}

.attraction-info .btn-container-comment .btn {
  width: fit-content;
}

.attraction-info .edit-content {
  width: 100%;
  padding: .75rem 0;
}

.attraction-info .edit-content textarea{
  width: 100%;
  height: 125px;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

@media (min-width: 500px) {
  .attraction-info {
    padding: 0 2rem;
  }

  .attraction-info h1 {
    font-size: 2.75rem;
  }

  .attraction-info p.lead {
    font-size: 1.3rem;
  }

  .attraction-info .tags li {
    font-size: 1rem;
  }

  .attraction-info h3 {
    font-size: 1.7rem;
  }
  
  .attraction-info p {
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .attraction-info .comments-wrapper {
    padding: 1rem 0;
  }
}

@media (min-width: 768px) {
  .attraction-info .content {
    padding: 1.5rem;
  }

  .attraction-info p.lead {
    max-width: 650px;
  }

  .new-comment-container {
    padding: 1.5rem;
  }

  .attraction-info .pagination-info {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .attraction-info {
    max-width: 1300px;
    padding: 0 2rem;
  }
  
  .attraction-info .content {
    flex-direction: row;
    position: relative;
    margin-top: 1rem;
    background-color: transparent;
    padding-left: 0;
  }

  .attraction-info .image-container {
    padding: 0;
    padding-left: 2rem;
    margin-top: 2rem;
    position: absolute;
    order: 2;
    width: 60%;
    left: 40%;
  }

  .attraction-info .text-container {
    order: 1;
    background-color: var(--bg-light);
    border-radius: 1rem;
    padding: 3rem 2rem;
    padding-right: 10%;
    width: 50%;
    min-height: 500px;
  }

  .attraction-info .attraction-actions {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 1rem;
      font-size: 1.2rem;
      flex-direction: column;
      align-items: end;
      gap: .5rem;
  }

  .attraction-info .wishlist-info button,
  .attraction-info .visited-info button {
    order: 2;
  }

  .attraction-info .wishlist-info button svg,
  .attraction-info .visited-info button svg {
    width: 32px;
    height: 32px;
  }

  .attraction-info .wishlist-info span,
  .attraction-info .visited-info span {
    order: 1;
    font-size: 1.15rem;
  }

  .attraction-info .wishlist .wishlist-info {
    position: relative;
  }

  .attraction-info .wishlist  .list-info-panel {
    width: 350px;
  }

  .attraction-info .comment-container {
    position: relative;
  }

  .attraction-info .btn-container-comment {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    justify-content: end;
  }

  .new-comment-container {
    padding: 2rem;
  }

}

@media (min-width: 1200px) {
  .attraction-info .content {
    align-items: center;
  }


  .attraction-info p.lead {
    max-width: 800px;
  }

  .attraction-info .image-container {
    margin-top: 0;
  } 
}

