
.login.wrapper,
.register.wrapper {
  background-color: var(--bg-light);
  align-items: start;
}

.auth-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: var(--bg-light);
  width: 100%;
  max-width: 500px;
}

.auth-card .image-container {
  width: 100%;
  max-height: 305px;
}

.auth-card .image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 45%;
  border-radius: 0 0 1rem 1rem;
}

.auth-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.auth-card .title {
  text-align: center;
  padding-bottom: 3rem;
}

.auth-card .title h1 {
  font-size: 2.2rem;
  line-height: 1.3;
  max-width: 350px;
}

.auth-card .title p {
  font-size: 1rem;
  color: var(--medium-grey);
}

.auth-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-card .form-control {
  position: relative;
  margin: 1rem 0;
}

.auth-card .form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.auth-card label {
  position: absolute;
  left: calc(1rem - 3px);
  top: 0;
  transform: translateY(-50%);
  background-color: var(--bg-light);
  padding: 0 3px;
  font-size: .8rem;
}

.auth-card .remember-me {
  display: flex;
  align-items: center;
}

.auth-card .remember-me label {
  position: initial;
  transform: initial;
}

.auth-card .form-control input {
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  padding: 1rem 0 1rem 1rem;
  background-color: transparent;
  font-size: 1.1rem;;
  color: var(--dark-blue);
}

.auth-card .forgot-password {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
}

.auth-card .forgot-password a {
  text-decoration: none;
  color: var(--medium-grey);
  font-size: .9rem;
  transition: all .2s ease-in-out;
}

.auth-card .forgot-password a:hover {
  color: var(--dark-blue);
}

.auth-card .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: .75rem;
  text-align: center;
}

.auth-card .btn-container p {
  font-size: .9rem;
  color: var(--medium-grey);
}

.auth-card .btn-container p a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
  cursor: pointer;
}

.auth-card .btn-container p a:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .login.wrapper,
  .register.wrapper {
    background-color: var(--bg-dark);
    align-items: center;
  }

  .auth-card {
    border-radius: 1rem;
  }

  .auth-card .image-container img{
    border-radius: 1rem;
  }

  .auth-card .content {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .auth-card {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 4rem);
    max-width: 1100px;
  }
  
  .auth-card .image-container {
    max-height: 100%;
  }

  .auth-card .image-container img{
    border-radius: 1rem 0 0 1rem;
  }
  
  .auth-card .content {
    padding: 3rem 2rem;
    justify-content: start;
    height: 100%;
  }

  .auth-card .title {
    padding-bottom: 0;
  }

  .auth-card form {
    padding-top: 7rem;
  }

  .auth-card form {
    height: 100%;
    justify-content: space-between;
  }

  .auth-card .form-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  } 
}