.wrapper-friends {
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper-friends .title h1 {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

.wrapper-friends .lead {
  color: var(--white);
}

.wrapper-friends .user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

form.request-form {
  width: fit-content;
}

.send-request-btn {
  padding: .75rem 1rem;
  font-size: 1rem;
  text-transform: unset;
  transition: all .3s ease-in-out;
}

.request-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-container p {
  width: 60%;
}

.request-container .request-actions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 1rem;
}

.request-actions form {
  padding: 0;
}

.friends-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: .5rem auto;
}

/* Friend items */
.friend {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 300px;
}

.friend .image-container {
  padding: 1rem;
}

.friend img {
  border-radius: 1rem;
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
  max-width: 100%;
  height: auto;
}

.friend .text-container {
  padding: 1rem;
  color: var(--black);
}

.friend .text-container p {
  font-size: small;
}

.add-friend-container{
  background-color: var(--bg-light);
  box-shadow: none;
  border-radius: .5rem;
  padding: 1rem;
}

.add-friend-container h2 {
  font-size: 1.75rem;
  padding-bottom: .25rem;
  color: var(--dark-blue);
}

.add-friend-container .form-info {
  color: var(--black);
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.add-friend-container form {
  padding: 0;
}

.add-friend-container .form-wrapper {
  padding: 0;
  box-shadow: none;
}

.add-friend-container .search-text {
  display: flex;
}

.add-friend-container .form-wrapper .search-text input[type="text"] {
  width: 70%;
  border: 2px solid var(--primary);
  border-right: none;
  border-radius: .5rem 0 0 .5rem;
  padding: 1rem;
  background-color: var(--white);
  font-size: 1.1rem;;
  color: var(--dark-blue); 
}

.add-friend-container .form-wrapper .search-btn {
  background-color: var(--primary);
  color: var(--white);
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem .75rem;
  border-radius: 0 .5rem .5rem 0;
  border: none;
  width: 30%;
  cursor: pointer; 
}

.friend-requests-container {
  background-color: var(--white);
  padding: 1rem;
  border-radius: .5rem;
}

.friends-container {
  margin-top: 1rem;
  color: var(--white);
}

.friends-container h2 {
  color: var(--white);
  padding-bottom: .25rem;
}

/* Scoreboard */
.scoreboard {
  width: 100%;
}

.scoreboard tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: .5rem;
}

.scoreboard thead tr{
  border-bottom: 2px solid var(--primary);
  margin-bottom: .5rem;
}

.scoreboard th {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  text-align: center;

}

.scoreboard th:first-of-type {
  text-align: left;
}

.scoreboard td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scoreboard td.hide-sm {
  display: none;
}

.scoreboard .friend-info {
  align-items: center;
  justify-content: start;
  gap: .5rem;
}

.scoreboard .gravatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.scoreboard .remove-friend-form {
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.scoreboard .btn {
  width: fit-content;
}

@media (min-width: 450px) {
  .request-container .request-actions {
    flex-direction: row;
  }


.add-friend-container{
  padding: 2rem;
}

  .add-friend-container .form-wrapper .search-text input[type="text"] {
    width: 75%;
  }
  
  .add-friend-container .form-wrapper .search-btn {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .scoreboard tr {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .scoreboard .friend-info {
    gap: .75rem;
  }

  .scoreboard td.hide-sm {
    display: flex;
  }
}

@media (min-width: 768px) {
  .scoreboard tr {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

@media(min-width: 992px) {
  .wrapper-friends {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-friend-container {
    width: 60%;
  }

  .add-friend-container .form-wrapper {
    width: 100%;
  }

  .friend-requests-container {
    width: calc(40% - 1rem);
  }

  .request-container {
    padding: .5rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .request-container p {
    width: 100%;
  }
  
  .request-container .request-actions {
    flex-direction: row;
    padding: .5rem 0;
  }
  
  .friends-container {
    width: 100%;
  }
}