.profile {
  max-width: 700px;
  margin: 3rem auto 0;
  flex-direction: column;
}

.profile .top {
  width: 100%;
  padding: 1rem;
}

.profile .flag-container {
  position: absolute;
  top: 0;
  right: 0;
}

.profile .flag-container img {
  width: 50px;
  height: auto;
}

.profile .flag-container span {
  display: none;
}

.profile .top .user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  position: relative;
}

.profile .top .gravatar-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.profile .top .title {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile .top .title h2 {
  font-size: 2rem;
  color: var(--primary);
}

.profile .top .title .stats {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.profile .top .title .stats span strong {
  font-family: var(--main-font);
  color: var(--bg-light);
}

.profile .top .title p.lead {
  font-size: 1.2rem;
}

.profile .top .title .progress-container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: .20rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.profile .top .title .progress-container span strong  {
  font-family: var(--main-font);
  color: var(--bg-light);
}

.profile .top .title .progress-container .progress-bar  {  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 1.2rem;
  border-radius: 10em;
  margin-top: .10rem;
  background: var(--white);
}
.progress-bar::-webkit-progress-bar {
  background: var(--white);
  border-radius: 10em;
}
.progress-bar::-webkit-progress-value {
  background: var(--primary);
  border-radius: 10em 0 0 10em;
}
.progress-bar::-moz-progress-bar {
  background: var(--primary);
}

.profile .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}

/* Tabs */
.profile-tabs{
  display: flex;
  gap: 1rem;
  color: var(--white);
  font-family: var(--secondary-font);
  padding: 0 1rem;
}

.profile-tabs li {
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  font-weight: .9rem;
}

.profile-tabs li.active {
  font-weight: bold;
  border-color: var(--primary);
}

.profile-tabs li:hover {
  border-color: var(--primary);
}


.profile .content-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile .badge-content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.profile .badge-content-info h2 {
  color: white;
}

/* Form */
.profile form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

}

.profile .form-control {
  position: relative;
  margin: 1rem 0;
}

.profile .form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.profile label {
  position: absolute;
  left: calc(1rem - 3px);
  top: 0;
  transform: translateY(-50%);
  background-color: var(--bg-light);
  padding: 0 3px;
  font-size: .8rem;
}

.profile .form-control input {
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  padding: 1rem 0 1rem 1rem;
  background-color: transparent;
  font-size: 1.1rem;;
  color: var(--dark-blue);
}

.profile .form-wrapper {
  width: 100%;
  background-color: var(--bg-light);
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile .form-select {
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--dark-blue);
}


.profile .form-select-multiple {
  width: 100%;
  border-radius: .5rem;
  padding: 1rem;
  font-size: .9rem;
  height: 150px;
  background-color: transparent;
}

.profile .form-select-multiple option {
  padding: 2px 0;
}

.profile .form-wrapper .btn-container {
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5rem;
}

/* Visited Attractions and wishlist*/
.profile .visited-attractions,
.profile .user-wishlist{
  width: 100%;
}

.profile .visited-attractions h2,
.profile .user-wishlist h2 {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: normal;
  padding-bottom: 1rem;

}

.profile .card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

.profile .badge-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  width: 100%;
}

.profile .badge-card {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
  padding: 40px; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  transition: transform 0.3s ease; 
}

.profile .badge-card:hover {
  transform: translateY(-5px);
}

.profile .unlocked-badge-card {
  background-color: lightgreen;
}

.profile .attraction-card {
  text-decoration: none;
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  background-color: var(--bg-light);
  padding: 1rem;
  gap: 1rem;
  border-radius: .5rem;
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
  position: relative;
}

.profile .attraction-card img {
  width: 100px;
  height: 75px;
  border-radius: .5rem;
  object-fit: cover;
  object-position: center;
}
.profile .attraction-card div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.profile .attraction-card h3 {
  font-size: 1.3rem;
}

.profile .attraction-card .points {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: var(--secondary-font);
    gap: 5px;
    color: var(--black);
    background-color: var(--white);
    padding: .25rem 1rem;
    border-radius: .5rem;
    width: fit-content;
    margin-top: .25rem;
    z-index: 10;
}


/* User Preferences */
.profile .user-preferences {
  color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
}

.profile .user-preferences h2 {
  font-size: 1.5rem;
  color: var(--primary);
}

.profile .user-preferences ul {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: 2px;
  padding-top: .5rem;
}

.profile .user-preferences p {
  padding-top: .5rem;  
  font-size: 1rem;
  font-style: italic;
}



/* IN PROGRESS */
.profile .user-details {
  padding: 1rem;
}

.profile .user-details h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.profile .user-details span {
  color: var(--medium-grey);
  font-size: 1rem;
  line-height: 1.2;
  font-style: italic;
}

.profile .user-details p {
  margin: 0.1rem 0 1rem 0;
  font-size: 1.1rem;
  line-height: 1.2;
}

.profile .form-control li {
font-size: 1rem;
line-height: 1.1;
display: flex;
gap: 0.5rem;
margin-top: 0.5rem;
}

.form-control input[type="checkbox"] {
-webkit-appearance: none;
appearance: none;
background-color: transparent;
margin: 0;
padding: 0 0 0 0;

font: inherit;
color: var(--black);
width: 1.0rem;
height: 1.0rem;
border: 0.10rem solid var(--black);
border-radius: 0.15rem;
transform: translateY(-0.075rem);
display: grid;
place-content: center;
}

.form-control input[type="checkbox"]::before {
content: "";
width: 0.65rem;
height: 0.65rem;
clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
transform: scale(0);
transform-origin: bottom left;
transition: 120ms transform ease-in-out;
box-shadow: inset 1rem 1rem var(--black);
background-color: var(--black);
}

.form-control input[type="checkbox"]:checked::before {
transform: scale(1);
}

.form-control input[type="checkbox"]:focus {
outline: max(2px, 0.15rem) solid currentColor;
outline-offset: max(2px, 0.15rem);
}

#preferences-form label {
  position: static;
  left: 0;
  top: 0;
  transform: translateY(-0.1rem);
  background-color: transparent;
  padding: 0;
  font-size: 1.0rem;
}








@media (min-width: 768px) {
  .profile .flag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:  .5rem;
  }

  .profile .flag-container img {
    width: 75px;
  }


  .profile .flag-container span {
    display: block;
    font-size: .9rem;
    font-family: var(--secondary-font);
  }

  .profile .top .title .stats {
    flex-direction: row;
    gap: 2rem;
    font-size: 1.1rem;
  }

  .profile .top .title .progress-container {
    flex-direction: row;
    gap: 2rem;
    font-size: 1.1rem;
  }

  .profile .attraction-card .points {
    position: absolute;
    top: .5rem;
    right: .75rem;
}

  
}

@media (min-width: 992px) {
  .profile {
    max-width: 1300px;
    padding: 0 1rem;
    margin-top: 4rem;
  }
  
  .profile .top .user-info {
    gap: 1.5rem;
  }

  .profile .flag-container img {
    width: 80px;
  }
  
  .profile .top .gravatar-img {
    width: 90px;
    height: 90px;
  }
  
  .profile .top .title h2 {
    font-size: 2.5rem;
  }
  
  .profile .top .title p.lead {
    font-size: 1.3rem;
  }

  .profile .content-info {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile .form-wrapper {
    width: 50%;
  }

  .profile .user-preferences {
    width: 50%;
    height: fit-content;
    margin: 0;
  }

  .profile .preference-card {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .profile .preference-title {
    margin-bottom: 10px;
  }
  .profile .preference-list {
    list-style: none;
    padding-left: 0;
  }
  .profile .preference-list li {
    padding: 5px 0;
  }
  .profile .preference-list li:last-child {
    border-bottom: none;
  }
}

