.profile {
  max-width: 700px;
  margin: 3rem auto 0;
  flex-direction: column;
}

.profile .top {
  width: 100%;
  padding: 1rem;
}

.profile .flag-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile .flag-container img {
  width: 50px;
  height: auto;
}

.profile .flag-container span {
  display: none;
}

.profile .top .user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  position: relative;
}

.profile .top .gravatar-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.profile .top .title {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile .top .title h2 {
  font-size: 2rem;
  color: var(--primary);
}

.profile .top .title .stats {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
  padding-bottom: .25rem;
}

.profile .top .title .stats span strong {
  font-family: var(--main-font);
  color: var(--bg-light);
}

.profile .top .title p.lead {
  font-size: 1.2rem;
}

.profile .top .title .progress-container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: .20rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.profile .top .title .progress-container span strong  {
  font-family: var(--main-font);
  color: var(--bg-light);
}

.profile .top .title .progress-container .progress-bar  {  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 1.2rem;
  border-radius: 10em;
  margin-top: .10rem;
  background: var(--white);
}
.progress-bar::-webkit-progress-bar {
  background: var(--white);
  border-radius: 10em;
}
.progress-bar::-webkit-progress-value {
  background: var(--primary);
  border-radius: 10em 0 0 10em;
}
.progress-bar::-moz-progress-bar {
  background: var(--primary);
}

.profile .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.profile a {
  text-decoration: none;
  color: inherit;
}


/* Tabs */
.profile-tabs{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem 1rem;
  color: var(--white);
  font-family: var(--secondary-font);
  padding: 1rem 1rem 0;
}

.profile-tabs li {
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  width: fit-content;
}

.profile-tabs li.active {
  font-weight: bold;
  border-color: var(--primary);
}

.profile-tabs li:hover {
  border-color: var(--primary);
}

.profile-tabs svg {
  vertical-align: middle;
  transform: translateY(-2px); 
  margin-right: 5px;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.profile .content-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile .badge-content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.profile .badge-content-info h2 {
  color: white;
}

/* Form */
.profile form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.profile .form-control {
  position: relative;
  margin: 1rem 0;
}

.profile .form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.profile label {
  position: absolute;
  left: calc(1rem - 3px);
  top: 0;
  transform: translateY(-50%);
  background-color: var(--bg-light);
  padding: 0 3px;
  font-size: .8rem;
}

.profile .custom-label {
  /* Legg til dine spesifikke stiler her */
  position: static;
  transform: translateY(-50%);
  background-color: var(--bg-light);
  /* padding: 0 3px; */
  font-size: .8rem;
}


.profile .form-control input {
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  padding: 1rem 0 1rem 1rem;
  background-color: transparent;
  font-size: 1.1rem;;
  color: var(--dark-blue);
}

.profile .form-wrapper {
  width: 100%;
  background-color: var(--bg-light);
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile .form-select {
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--dark-blue);
}


.profile .form-select-multiple {
  width: 100%;
  border-radius: .5rem;
  padding: 1rem;
  font-size: .9rem;
  height: 150px;
  background-color: transparent;
}

.profile .form-select-multiple option {
  padding: 2px 0;
}

.profile .form-control li {
  font-size: 1rem;
  line-height: 1.1;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  }
  
  .profile .form-control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0 0 0 0;
  font: inherit;
  color: var(--black);
  width: 1.0rem;
  height: 1.0rem;
  border: 0.10rem solid var(--black);
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
  }
  
  .profile .form-control input[type="checkbox"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--black);
  background-color: var(--black);
  }
  
  .profile .form-control input[type="checkbox"]:checked::before {
  transform: scale(1);
  }
  
  .profile .form-control input[type="checkbox"]:focus {
  outline: max(2px, 0.15rem) solid currentColor;
  outline-offset: max(2px, 0.15rem);
  }
  
  .profile #preferences-form .form-control label {
    position: static;
    left: 0;
    top: 0;
    transform: translateY(-0.1rem);
    background-color: transparent;
    padding: 0;
    font-size: 1.0rem;
  }

.profile .form-wrapper .btn-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2.5rem;
}

.profile .form-wrapper .btn-container .btn {
  width: 100%;
  padding: 1rem 2rem;
}

/* Visited Attractions and wishlist*/
.profile .user-lists {
  position: relative;
}

.profile .list-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.profile .list-card {
  background-color: var(--white);
  border-radius: 1rem;
  height: fit-content;
  position: relative;
  height: 300px;
}

.profile .list-card .visibility {
  font-family: var(--secondary-font);
  color: var(--black);
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: .5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
}

.profile .list-card .image-container {
  height: 50%;
}

.profile .list-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
}

.profile .list-card .text-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.profile .list-card .btn-container {
  padding-top: 1rem;
  gap: 1rem;
}

.profile .list-card .btn-container .btn {
  width: 50%;
}

.profile .edit-list {
  margin-bottom: 1rem;
}


.profile .list-form {
  background-color: var(--bg-light);
  border-radius: .5rem;
  width: 100%;
}

.profile .list-form .form-row {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.profile .list-form .form-row .form-control:first-of-type{
  width: 100%;
}

.profile .list-form .form-row .form-control:last-of-type{
  width: 100%;
}

.profile .list-form .btn-container {
  gap: .5rem;
}

.profile .list-form .btn-container .btn {
  width: 50%;
}

.profile .list-card.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
}

.profile .add-group-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

.profile .add-group-btn:hover,
.profile .add-group-btn:hover svg {
  color: var(--darken-primary);
  fill: var(--darken-primary);
}

.profile .add-group-btn svg {
  width: 60px;
  height: 60px;
}

.profile .user-lists .title-container,
.profile .friend-groups .title-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.profile .user-lists .title-container button ,
.profile .friend-groups .title-container button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 1rem;
}

.profile .user-lists .title-container button svg,
.profile .friend-groups .title-container button svg{
  fill: var(--white);
}


.profile .user-lists .title-container button:hover svg,
.profile .friend-groups .title-container button:hover svg{
  fill: var(--primary);
}


.profile .visited-attractions,
.profile .user-wishlist,
.profile .grouped-attractions{
  width: 100%;
}

.profile .visited-attractions h2,
.profile .user-lists h2,
.profile .friend-groups h2 {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: normal;
  padding-bottom: 1rem;

}

.profile .card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

.profile .badge-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  width: 100%;
}

.profile .badge-card {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
  padding: 40px; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  transition: transform 0.3s ease; 
}

.profile .badge-card:hover {
  transform: translateY(-5px);
}

.profile .unlocked-badge-card {
  background-color: lightgreen;
}

.profile .attraction-card {
  text-decoration: none;
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  background-color: var(--bg-light);
  padding: 1rem;
  gap: 1rem;
  border-radius: .5rem;
  box-shadow: 3px 6px 25px -18px rgba(0,0,0,0.75);
  position: relative;
  cursor: pointer;
}

.profile .attraction-card img {
  width: 100px;
  height: 75px;
  border-radius: .5rem;
  object-fit: cover;
  object-position: center;
}
.profile .attraction-card div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.profile .attraction-card h3 {
  font-size: 1.3rem;
}

.profile .attraction-card .points {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: var(--secondary-font);
    gap: 5px;
    color: var(--black);
    background-color: var(--white);
    padding: .25rem 1rem;
    border-radius: .5rem;
    width: fit-content;
    margin-top: .25rem;
    z-index: 10;
}

/* User Details */
.profile .user-details {
  padding: 1rem;
}

.profile .user-details h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.profile .user-details span {
  color: var(--black);
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.profile .user-details p {
  margin: 0.1rem 0 1rem 0;
  font-size: 1.1rem;
}

.profile .user-details .btn-container {
  padding: 1rem 0;
}


/* User Preferences */
.profile .user-preferences {
  color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
}

.profile .user-preferences h2 {
  font-size: 1.5rem;
  color: var(--primary);
}

.profile .user-preferences ul {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: 2px;
  padding-top: .5rem;
}

.profile .user-preferences p {
  padding-top: .5rem;  
  font-size: 1rem;
  font-style: italic;
}


@media (min-width: 550px) {
  .profile .flag-container {
    top: 0;
  }

  .profile .list-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile .form-wrapper .btn-container .btn {
    width: calc(50% - .5rem);
  }
  
  .profile .user-details .btn-container .btn-danger {
    width: 100%;
  }

  .profile #delete-user-confirmation .btn-container .btn {
    width: calc(50% - .5rem);
  }
}



@media (min-width: 768px) {
  .profile .flag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:  .5rem;
  }

  .profile .flag-container img {
    width: 75px;
  }


  .profile .flag-container span {
    display: block;
    font-size: .9rem;
    font-family: var(--secondary-font);
  }

  .profile .top .title .stats {
    flex-direction: row;
    gap: 2rem;
    font-size: 1.1rem;
  }

  .profile .top .title .progress-container {
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
  }

  .profile .attraction-card .points {
    position: absolute;
    top: .5rem;
    right: .75rem;
}

  .profile .list-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 992px) {
  .profile {
    max-width: 1300px;
    padding: 0 1rem;
    margin-top: 4rem;
  }
  
  .profile .top .user-info {
    gap: 1.5rem;
  }

  .profile .flag-container img {
    width: 80px;
  }
  
  .profile .top .gravatar-img {
    width: 90px;
    height: 90px;
  }
  
  .profile .top .title h2 {
    font-size: 2.5rem;
  }
  
  .profile .top .title p.lead {
    font-size: 1.3rem;
  }

  .profile .content-info {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile .form-wrapper {
    width: 50%;
  }

  .profile .user-preferences {
    width: 50%;
    height: fit-content;
    margin: 0;
  }

  .profile .preference-card {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .profile .preference-title {
    margin-bottom: 10px;
  }
  .profile .preference-list {
    list-style: none;
    padding-left: 0;
  }
  .profile .preference-list li {
    padding: 5px 0;
  }
  .profile .preference-list li:last-child {
    border-bottom: none;
  }

  .profile .list-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .profile .edit-list .list-form{
    width: 50%;
  }
  

}

@media (min-width: 1200px) {
  .profile .top .title {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 2rem;
  }

  .profile .top .title h2 {
    width: 100%;
  }

  .profile .top .title .stats {
    width: fit-content;
    padding-bottom: 0;
    align-items: end;
  }

  .profile .top .title .progress-container {
    width: fit-content;
  }

}