@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
  --bg-dark: #1E2832;
  --bg-light: #D3DDEC;
  --primary:#4CC597;
  --darken-primary: #44b48b;
  --dark-blue: #273343;
  --medium-grey: #646464;
  --danger: #F8D7DA;
  --danger-text: #99575E;
  --success: #D4EDDA;
  --success-text: #41753a;
  --black: #000;
  --white: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* width: 100vw; */
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bg-dark);
  font-family: var(--main-font);
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-small {
  padding: .5rem 1.5rem;
  font-size: .75rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--darken-primary);
}

.btn-primary-outline {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-primary-outline:hover {
  background-color: var(--primary);
  color: var(--dark-blue);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}
.btn-success {
  background-color: var(--success);
  color: var(--white);
}

.icon-btn {
  background-color: transparent;
  width: fit-content;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-icon {
  fill: var(--danger);
}

.btn-container {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.hide-sm {
  display: none;
}

.hide-md {
  display: none;
}

/* Navigation */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--bg-light);
  font-family: var(--secondary-font);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links a {
  color: var(--bg-light);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.nav-links a:hover {
  color: var(--primary);
}

.city-select select {
  background-color: var(--bg-light);
  font-size: 1rem;
  padding: 0;
  color: var(--bg-dark);
  border: none;
  border-radius: 5px;
  padding: 0 5px;
}

/* Flash messages */
.flash-messages {
  position: absolute;
  bottom: 0;
  margin: 2rem;
  z-index: 10;
}

.flask-flash {
  padding: 1rem;
  border-radius: .5rem;
  background-color: #fff;
  color: var(--bg-dark);
}

.flask-flash.error {
  background-color: var(--danger);
  color: var(--danger-text);
}

.flask-flash.success {
  background-color: var(--success);
  color: var(--success-text);
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.landing {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}


.landing h1 {
  font-size: 2.5rem;
  max-width: 400px;
  margin: 0 auto;
}

.landing .lead {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--white);
  max-width: 500px;
  text-align: center;
  padding: 3rem 0;
}

.landing .lead span {
  font-weight: bold;
  color: var(--primary);
}

.landing .btn-container {
  gap: 2rem;
}

@media (min-width: 576px) {
  .hide-sm {
    display: unset;
  }
}


@media (min-width: 768px) {
  .hide-md {
    display: unset;
  }

  .landing {
    padding: 2rem 0;
    height: 80vh;
  }
    
  .landing h1 {
    max-width: 500px;
    font-size: 3.5rem;
  }
  
  .landing .lead {
    font-size: 1.3rem;
    padding: 4rem 0;

  }
}