@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
  --bg-dark: #1E2832;
  --bg-light: #D3DDEC;
  --primary:#4CC597;
  --darken-primary: #44b48b;
  --dark-blue: #273343;
  --medium-grey: #646464;
  --danger: #F8D7DA;
  --danger-text: #99575E;
  --success: #D4EDDA;
  --success-text: #41753a;
  --black: #000;
  --white: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* width: 100vw; */
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bg-dark);
  font-family: var(--main-font);
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-small {
  padding: .5rem 1.5rem;
  font-size: .75rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--darken-primary);
}

.btn-primary-outline {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-primary-outline:hover {
  background-color: var(--primary);
  color: var(--dark-blue);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}
.btn-success {
  background-color: var(--success);
  color: var(--white);
}

.icon-btn {
  background-color: transparent;
  width: fit-content;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-icon {
  fill: var(--danger);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.cta {
  border: 1px solid var(--primary);
  color: var(--primary) !important;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.cta:hover {
  background-color: var(--primary);
  color: var(--white) !important;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.hide-sm {
  display: none;
}

.hide-md {
  display: none;
}

/* Navigation */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--bg-light);
  font-family: var(--secondary-font);
  padding: 1rem;
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  justify-content: end;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.nav-links a,
.brand a {
  color: var(--bg-light);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.brand {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: .9rem;
}

.brand svg {
  width: 35px;
  height: 35px;
  fill: var(--bg-light);
  transition: all .2s ease-in-out;
}

.mobile-nav .brand {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.nav-links a:hover,
.brand a:hover {
  color: var(--primary);
}

.brand:hover svg{
  fill: var(--primary);
}

.nav-links li {
  font-size: 1.25rem;
}


.nav-links .gravatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.settings-nav {
  position: relative;
}

.settings-nav button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.settings-nav svg {
  fill: var(--bg-light);
  width: 40px;
  height: 40px;
}

.settings-nav svg:hover {
  fill: var(--primary)
}

.desktop-nav .settings-nav .settings-content {
  background-color: var(--dark-blue);
  position: absolute;
  right: 0;
  width: 200px;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 5px;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);  
}

.mobile-nav .settings-nav {
  position: unset;
}

.mobile-nav .close-button {
 z-index: 101;
 position: absolute;
 right: 1rem;
 top: 1rem;
 cursor: pointer;
}

.mobile-nav .settings-nav .settings-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--dark-blue);
  padding: 1rem;
  z-index: 100;
}

.mobile-nav .settings-content ul{
  padding: 4rem 2rem 3rem 2rem;
}

.mobile-nav .settings-nav ul li{
  padding: .5rem 0;
  font-size: 1.2rem
}

.city-select .form-control {
  position: relative;
  margin-bottom: .5rem;
}

.city-select label {
  position: absolute;
  left: calc(1rem - 3px);
  top: 0;
  transform: translateY(-50%);
  background-color: var(--dark-blue);
  color: var(--bg-light);
  padding: 0 3px;
  font-size: .8rem;
}

.city-select .form-select {
  width: 100%;
  border: 1px solid var(--bg-light);
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--bg-light);
  font-family: var(--secondary-font);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.city-select .form-select:hover {
  border: 1px solid var(--primary);
}

.city-select.anonymous-nav .form-control {
  margin-bottom: 0;
}

.city-select.anonymous-nav .form-select{
  padding: 5px 10px;
  border-radius: 5px;
}


.settings-content li {
  padding: .25rem 0;
  font-size: 1.1rem;
}

.settings-nav .settings-content a{
  color: var(--bg-light);
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.settings-nav .settings-content a:hover {
  color: var(--primary);
}

.slide-in-right-enter-active {
  animation: slideInRight 0.3s ease-out forwards;
}

.slide-in-right-leave-active {
  animation: slideOutRight 0.3s ease-out forwards;
}

@keyframes slideInRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}




/* Flash messages */
.flash-messages {
  position: absolute;
  bottom: 0;
  margin: 2rem;
  z-index: 10;
}

.flask-flash {
  padding: 1rem;
  border-radius: .5rem;
  background-color: #fff;
  color: var(--bg-dark);
}

.flask-flash.error {
  background-color: var(--danger);
  color: var(--danger-text);
}

.flask-flash.success {
  background-color: var(--success);
  color: var(--success-text);
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.landing {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}


.landing h1 {
  font-size: 2.5rem;
  max-width: 400px;
  margin: 0 auto;
}

.landing .lead {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--white);
  max-width: 500px;
  text-align: center;
  padding: 3rem 0;
}

.landing .lead span {
  font-weight: bold;
  color: var(--primary);
}

.landing .btn-container {
  gap: 2rem;
}

@media (min-width: 576px) {
  .hide-sm {
    display: unset;
  }
}


@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .hide-md {
    display: unset;
  }

  .landing {
    padding: 2rem 0;
    height: 80vh;
  }
    
  .landing h1 {
    max-width: 500px;
    font-size: 3.5rem;
  }
  
  .landing .lead {
    font-size: 1.3rem;
    padding: 4rem 0;

  }
}