@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --bg-dark: #1E2832;
  --bg-light: #D3DDEC;
  --primary:#4CC597;
  --darken-primary: #44b48b;
  --dark-blue: #273343;
  --medium-grey: #646464;
  --black: #000;
  --white: #ffffff;
  --sans: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-light);
  font-family: var(--sans);
  font-size: 16px;
  color: var(--dark-blue);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--darken-primary);
}