{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<section class="profile" x-data="profileTabs({{tabs}}, {{activeTab}})">
  <a id="lastPageLink" class="link-text" href="javascript:goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-move-left">
      <path d="M6 8L2 12L6 16" />
      <path d="M2 12H22" />
    </svg>
    {{ _("Go Back") }}
  </a>
  <div class="top">
    <div class="user-info">
      <div class="flag-container">
        <img src="{{ friend.country.flag }}" alt="{{ friend.country.name }}">
        <span>{{ friend.country.name | translate }}</span>
      </div>
      <img src="{{ friend.gravatar() }}" alt="Gravatar" class="gravatar-img">
      <div class="title">
        <h2>{{ friend.username }}</h2>
        <div class="stats">
          <span>{{ _("Attractions Visited:") }}
            <strong>{{number_of_visited_attractions}}</strong></span>
          <span>{{ _("Points:") }}
            <strong>{{points}}</strong></span>
          <span>{{ _("Level:") }} 
            <strong>{{friend.level.current_level}}</strong></span>
        </div>
        <div class="progress-container">
          <progress class="progress-bar" value="{{ friend.level.progress }}" max="{{ friend.level.points_required }}"></progress>
          <span class="progress-text">
            <strong>{{ friend.level.points_missing }}</strong> {{ _("points until level ") }}
            <strong>{{ friend.level.current_level + 1 }}</strong></span>
      </div>
      </div>
    </div>
  </div>

  <ul class="profile-tabs">
    <template x-for="tab in tabs" :key="tab">
      <li :class="activeTab === tab ? 'active' : ''" @click="setActiveTab(tab)" x-text="tab"></li>
    </template>
  </ul>

  <div class="content">
    <template x-if="activeTab === tabs[0]">    
      <div class="content-info">
        <div class="visited-attractions">
          {% if visited_attractions %}
          <h2>Visited Attractions</h2>
          <div class="card-container">
            {% for visited in visited_attractions %}
            <a href="{{ url_for('attractions.get_attraction', attraction_id=visited.attraction.id) }}"
            onclick="storePreviousUrl()"
              class="attraction-card">
              <img src="{{ visited.attraction.image }}" alt="Attraction Image">
              <div>
                <h3>{{ visited.attraction.name }}</h3>
                <p>Visited on {{ visited.time_visited }}</p>
                <div class="points">
                  <span>🏆</span> {{ visited.attraction.points }} {{ _("points")
                  }}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
  
          {% else %}
          <p class="text-white">{{friend.username}} has not visited any
            attractions yet.</p>
          {% endif %}
        </div>
      </div>
    </template>

    <template x-if="activeTab === tabs[1]">
      <div class="badge-content-info">
        <div class="visited-attractions">
          <h2>Unlocked Badges</h2>
        </div>
        <div class="badge-card-container">
          {% if unlocked_progress %}
          {% for badge in unlocked_progress %}
          <div class="badge-card" style="background-color: lightgreen;">
            <h3>{{ badge.badge_name }}</h3>
            <p>{{ badge.description }}</p>
          </div>
          {% endfor %}
          {% else %}
          <p class="text-white">No badges unlocked yet.</p>
          {% endif %}
        </div>
      </div>
    </template>    

    <template x-if="activeTab === tabs[2]">
      {% if groups %}
      <div class="friend-groups" x-data="friendGroups({{groups}})">
        <div x-show="showAttractions">
          <div class="title-container">
            <button @click="backToGroups()"><svg
                xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                fill="#000000" viewBox="0 0 256 256">
                <path
                  d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z">
                </path>
              </svg></button>
            <h2 x-text="currentGroup && currentGroup.title"></h2>
          </div>
  
          <div class="grouped-attractions">
            <div class="card-container">
              <template x-for="attraction in groupedAttractions"
                :key="attraction.id">
                <a @click="goToAttraction(attraction.id)" class="attraction-card">
                  <img :src="attraction.image" alt="Attraction Image">
                  <div>
                    <h3 x-text="attraction.name"></h3>
                    <div class="points">
                      <span>🏆</span> <span x-text="attraction.points"></span>
                      points
                    </div>
                  </div>
                </a>
              </template>
            </div>
          </div>
        </div>
        <div x-show="!showAttractions">
          <div x-show="groups.length > 0">
          <h2>{{ _("Attraction lists") }}</h2>
          <div class="list-card-container">
            <template x-for="(group, index) in groups" :key="index">
              <div class="list-card">
                <div class="image-container">
                  <img
                    :src="group.image ? group.image : '{{ url_for('static', filename='img/aurora-bg.png') }}'"
                    :alt="group.title">
                </div>
                <div class="text-container">
                  <h3 x-text="group.title"></h3>
                  <p>Attractions: <span x-text="group.attractions.length"></span>
                  </p>
                  <div class="btn-container">
                    <button @click="getGroupAttractions(group.id)"
                      class="btn btn-primary btn-small">View</button>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
        <div x-show="groups.length === 0">
          <p class="text-white">No attraction lists available.</p>
        </div>
      </div>
      {% endif %}
    </template>
  </div>
</section>

{% endblock %}