{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/friends.css') }}">
{% endblock %}

{% block content %}

<div class="wrapper-friends">
    <div class="title-container">
        <div class="title">
            <h1>Friends information</h1>
            <p>The page for all friend related information:</p>
            <p>Add friends and compare your exploration achievements!</p>
        </div>
    </div>

    <div class="content">

        {% if not (users_requesting == [] and users_awaiting == []) %}
        <div class="friend-requests-container">
            <h3>Pending friend requests</h3>

            {% for user in users_requesting %}
            <p>Incoming friend request from {{ user.username }}</p>
            <form class="request-accept-form" method="POST"
                action="{{ url_for('auth.accept_friend_request', user_id=user.id) }}">
                <button type="submit">Accept friend request</button>
            </form>
            <form class="request-decline-form" method="POST"
                action="{{ url_for('auth.remove_friend_request', user_id=user.id) }}">
                <button type="submit">Decline friend request</button>
            </form>
            {% endfor %}

            <br>
            {% for user in users_awaiting %}
            <p>Pending friend request approval from {{ user.username }}</p>
            <form class="request-accept-form" method="POST"
                action="{{ url_for('auth.remove_friend_request', user_id=user.id) }}">
                <button type="submit">Cancel friend request</button>
            </form>
            {% endfor %}
        </div>
        {% endif %}
        

        <div class="friends-container">
            <h2>Friends list</h2>
            {% if friends == [] %}
            <p>Seems like you haven't added any friends yet. Start adding friends to compare your exploration
                progression and achievements!</p>
            {% else %}
            <div class="friends-grid">
                {% for user in friends %}
                <div class="friend">
                    <div class="image-container">
                        <img src="{{ user.gravatar() }}" alt="Gravatar" class="gravatar-img">
                    </div>
                    <div class="text-container">
                        <h3>{{ user.username }}</h3>
                        <p><span>Achievement points: </span>WorkInProgress</p>
                    </div>
                    <form class="remove-friend" method="POST" action="{{ url_for('auth.remove_friend', user_id=user.id) }}">
                    <button class="remove-friend-btn" type="submit">Remove friend</button>
                </form>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    
        <div class="add-friend-container">
            <h2>Add friends</h2>
            <div class="form-wrapper" id="search-users-form">
                <form class="search-users" method="POST" action="{{ url_for('auth.friends') }}">
                    {{ form.hidden_tag() }}
                    <div class="search-text form-control">
                        {{ form.search_text }}
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        {% if users %}
            {% for user in users %}
                {% set ns = namespace(active_friendship=false) %}
                <div class="user-container">
                <h2>{{ user.username }}</h2>

                {% if current_user.initiated_friendships and ns.active_friendship == false %}
                    {% for initiated_friendship in current_user.initiated_friendships %}
                        {% if initiated_friendship.user_2 == user.id and initiated_friendship.status == 'accepted' %}
                            <p>You are already friends.</p>
                            {% set ns.active_friendship = true %}
                        {% elif initiated_friendship.user_2 == user.id %}
                            <p>Friend request already sent.</p>
                            {% set ns.active_friendship = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if current_user.received_friendships and ns.active_friendship == false %}
                    {% for received_friendship in current_user.received_friendships %}
                        {% if received_friendship.user_2 == current_user.id and received_friendship.status == 'accepted' %}
                            <p>You are already friends.</p>
                            {% set ns.active_friendship = true %}
                        {% elif received_friendship.user_2 == current_user.id %}
                            <p>Pending friend request already received.</p>
                            {% set ns.active_friendship = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if not ns.active_friendship %}
                <form class="request-form" method="POST" action="{{ url_for('auth.send_friend_request', user_id=user.id) }}">
                    <button class="send-request-btn" type="submit">Send friend request</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}


        </div>
    </div>
</div>
{% endblock %}