{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/friends.css') }}">
{% endblock %}

{% block content %}
<section class="profile" x-data="profileTabs({{tabs}}, {{activeTab}})">
    <div class="top">
        <div class="user-info">
            <div class="flag-container">
                <img src="{{ current_user.country.flag }}" alt="{{ current_user.country.name }}">
                <span>{{ current_user.country.name | translate }}</span>
              </div>
            <img src="{{ current_user.gravatar() }}" alt="Gravatar"
                class="gravatar-img">
            <div class="title">
                <h2>{{ _("Hello") }} {{ current_user.username }}</h2>
                <div class="stats">
                    <span>{{ _("Visited:") }} <strong>{{number_of_visited_attractions}}</strong></span>
                    <span>{{ _("Wishlist:") }}<strong>{{number_of_wishlist_attractions}}</strong></span>
                    <span>{{ _("Points:") }} <strong>{{points}}</span></strong>
                    <span>{{ _("Level:") }} <strong>{{level.current_level}}</span></strong>
                </div>
                <div class="progress-container">
                    <progress class="progress-bar" value="{{ level.progress }}" max="{{ level.points_required }}"></progress>
                    <span class="progress-text"> <strong>{{ level.points_missing }}</strong> {{ _("points until level ") }}<strong>{{level.current_level + 1}}</strong></span>
                </div>
            </div>
        </div>
    </div> 

    <ul class="profile-tabs">
        <template x-for="tab in tabs" :key="tab">
            <li :class="activeTab === tab ? 'active' : ''" @click="setActiveTab(tab)" x-text="tab"></li>
        </template>
    </ul>

    <div class="content">
        <template x-if="activeTab === tabs[0]">
            <div class="content-info">
                <div class="visited-attractions">
    
                    {% if visited_attractions %}
                    <h2>{{ _("Visited Attractions") }}</h2>
                    <div class="card-container">
                        {% for visited in visited_attractions %}
                        <a href="{{ url_for('attractions.get_attraction', attraction_id=visited.attraction.id) }}" class="attraction-card">
                            <img src="{{ visited.attraction.image }}" alt="Attraction Image">
                            <div>
                                <h3>{{ visited.attraction.name }}</h3>
                                <p>{{ _("Visited on") }} {{ visited.time_visited }}</p>
                                <div class="points">
                                    <span>🏆</span> {{ visited.attraction.points }} {{ _("points") }}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
            
                    {% else %}
                    <p>{{ _("You have not visited any attractions") }}</p>
                    {% endif %}
                </div>
            </div>
        </template>

        <template x-if="activeTab === tabs[1]">
            <div class="content-info">
                

                <div class="form-wrapper">

                    <div class="profile-info" id="profile-info"
                    {% if profile_form.is_active.data == 'false' 
                    and password_form.is_active.data == 'false' 
                    and preferences_form.is_active.data == 'false' %}
                    style="display: block"{% else %}style="display: none"{% endif %}>
                        <h2>Profile Details</h2>
                        <p>Username: {{ profile_form.username.data }}</p>
                        <p>First name: {{ profile_form.first_name.data }}</p>
                        <p>Last name: {{ profile_form.last_name.data}}</p>
                        <p>Email: {{ profile_form.email.data }}</p>
                        <p>Country: {{ current_user.country }}</p>
                        <p>Registered since: {{ current_user.created_at }}</p>
                        <div class="btn-container">
                            <button class="btn btn-primary" type="button" onclick="toggleEditUser()">{{ _("Edit Profile") }}</button>
                            <button class="btn btn-primary" type="button" onclick="toggleEditPassword()">{{ _("Change Password") }}</button>
                            <button class="btn btn-primary" type="button" onclick="toggleEditPreferences()">{{ _("Set Preferences") }}</button> 
                        </div> 
                    </div>

                <form action="{{ url_for('auth.profile', current_tab=1) }}" method="post" id="profile-form"
                {% if profile_form.is_active.data == 'false' %}style="display: none"{% endif %}>
                    <h2>Edit Profile</h2>
                    {{ profile_form.hidden_tag() }}
                    <div class="form-control">
                        {{ profile_form.username.label }}
                        {{ profile_form.username }}
                        {% for error in profile_form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-control"> 
                        {{ profile_form.country.label }}
                        {{ profile_form.country(class="form-select") }}
                        {% for error in profile_form.country.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-control">
                        {{ profile_form.first_name.label }}
                        {{ profile_form.first_name }}
                        {% for error in profile_form.first_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-control">
                        {{ profile_form.last_name.label }}
                        {{ profile_form.last_name }}
                        {% for error in profile_form.last_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-control">
                        {{ profile_form.email.label }}
                        {{ profile_form.email }}
                        {% for error in profile_form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="btn-container">
                        {{ profile_form.cancel }}
                        {{ profile_form.update_profile }}
                    </div>
                </form>


                <form action="{{ url_for('auth.profile', current_tab=1) }}" method="post" id="password-form"
                {% if password_form.is_active.data == 'false' %}style="display: none"{% endif %}>
                    <h2>Change Password</h2>
                    {{ password_form.hidden_tag() }}
                    <div class="form-control">
                        {{ password_form.old_password.label }}
                        {{ password_form.old_password }}
                        {% for error in password_form.old_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-control">
                        {{ password_form.password.label }}
                        {{ password_form.password }}
                        {% for error in password_form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-control"> 
                        {{ password_form.confirm_password.label }}
                        {{ password_form.confirm_password }}
                        {% for error in password_form.confirm_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="btn-container">
                        {{ password_form.cancel }}
                        {{ password_form.update_password }}
                    </div>
                </form>
            




            
            <form action="{{ url_for('auth.profile', current_tab=1) }}" method="post" id="preferences-form"
            {% if preferences_form.is_active.data == 'false' %}style="display: none"{% endif %}>
                <h2>Set Preferences</h2>
                {{ preferences_form.hidden_tag() }}
                <div class="form-control2">
                    <label for="checkboxes">{{ preferences_form.category.label.text }}</label>
                    {% for option, label in preferences_form.category.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{ option }}" name="{{ preferences_form.category.name }}" value="{{ option }}"
                            {% if option in preferences_form.category.data %} checked {% endif %}>
                            <label class="form-check-label" for="{{ option }}">{{ label | translate }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-control2">
                    <label for="checkboxes">{{ preferences_form.age_group.label.text }}</label>
                    {% for option, label in preferences_form.age_group.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{ option }}" name="{{ preferences_form.age_group.name }}" value="{{ option }}"
                            {% if option in preferences_form.age_group.data %} checked {% endif %}>
                            <label class="form-check-label" for="{{ option }}">{{ label | translate }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-control2">
                    <label for="checkboxes">{{ preferences_form.tag.label.text }}</label>
                    {% for option, label in preferences_form.tag.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{ option }}" name="{{ preferences_form.tag.name }}" value="{{ option }}"
                            {% if option in preferences_form.tag.data %} checked {% endif %}>
                            <label class="form-check-label" for="{{ option }}">{{ label | translate }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="btn-container">
                    {{ preferences_form.cancel }}
                    {{ preferences_form.update_preferences }}
                </div>
            </form>

        </div>


        <style>

            *,
            *:before,
            *:after {
              box-sizing: border-box;
            }
            
            .awd {
              display: grid;
              place-content: center;
              min-height: 100vh;
            }
    
            .form-control2 {
                margin-top: 2em;
            }
            
            .form-check {
              font-family: system-ui, sans-serif;
              font-size: 2rem;
              font-weight: bold;
              line-height: 1.1;
              display: grid;
              grid-template-columns: 1em auto;
              gap: 0.5em;
            }
            
            .form-check + .form-check {
              margin-top: 0.5em;
            }
            
            .form-check--disabled {
              color: var(--form-control-disabled);
              cursor: not-allowed;
            }
            
            input[type="checkbox"] {
              /* Add if not using autoprefixer */
              -webkit-appearance: none;
              /* Remove most all native input styles */
              appearance: none;
              /* For iOS < 15 */
              background-color: var(--form-background);
              /* Not removed via appearance */
              margin: 0;
            
              font: inherit;
              color: currentColor;
              width: 1.0em;
              height: 1.0em;
              border: 0.10em solid currentColor;
              border-radius: 0.15em;
              transform: translateY(-0.075em);
            
              display: grid;
              place-content: center;
            }
            
            input[type="checkbox"]::before {
              content: "";
              width: 0.65em;
              height: 0.65em;
              clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
              transform: scale(0);
              transform-origin: bottom left;
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1em 1em var(--form-control-color);
              /* Windows High Contrast Mode */
              background-color: CanvasText;
            }
            
            input[type="checkbox"]:checked::before {
              transform: scale(1);
            }
            
            input[type="checkbox"]:focus {
              outline: max(2px, 0.15em) solid currentColor;
              outline-offset: max(2px, 0.15em);
            }
            
            input[type="checkbox"]:disabled {
              --form-control-color: var(--form-control-disabled);
            
              color: var(--form-control-disabled);
              cursor: not-allowed;
            }

            .profile .form-control2 label {
                position: static;
                left: 0;
                top: 0;
                transform: translateY(0);
                background-color: var(--bg-light);
                padding: 0;
                font-size: 1.5rem;
              }

        </style>


            <div class="user-preferences">
                    <h2>{{ _("Your Preferences") }}</h2>
                    <div id="preferences-info">
                    {% if user_preferences %}
                    <ul>
                        {% for preference in user_preferences %}
                        <li>{{ preference }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>{{ _("You have not set any preferences") }}</p>
                    {% endif %}
                </div>
 
                
            </div>









            </div>
        </template>

        <template x-if="activeTab === tabs[2]">
            <div class="content-info">
                <div class="user-wishlist">
                    <h2>Your Wishlist</h2>
                    {%if wishlist_attractions %}
                    <div class="card-container">
                        {% for item in wishlist_attractions %}
                        <a href="{{ url_for('attractions.get_attraction', attraction_id=item.attraction.id) }}" class="attraction-card">
                            <img src="{{ item.attraction.image }}" alt="Attraction Image">
                            <div>
                                <h3>{{ item.attraction.name }}</h3>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p class="text-white">You have not added any attractions to your wishlist</p>
                    {% endif %}
                </div>
            </div>
        </template>

        <template x-if="activeTab === tabs[3]">
            {%include 'friends.html'%}
        </template>

        <template x-if="activeTab === tabs[4]">
            <div class="visited-attractions">
                <h2>Badge Progress</h2>
                <div class="card-container" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-gap: 10px;"> 
                    {% for badge in badge_progress %}
                        <div class="attraction-card" style="margin-bottom: 20px; display: flex; flex-direction: column; justify-content: space-between; min-height: 100px; box-sizing: border-box; padding: 10px;"> 
                            <h3>{{ badge.badge_name }}</h3>
                                <p>{{ badge.description }}</p> 
                            {% for tag_progress in badge.tags_progress %}
                                <div>{{ tag_progress.visited_count }}/{{ tag_progress.required_count }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </template>
    </div>
</section>



<script>
    function toggleEditUser() {
        var profileDetails = document.getElementById("profile-info")
        var profileForm = document.getElementById("profile-form")
        if (profileForm.style.display === "none") {
            profileForm.style.display = "block"
            profileDetails.style.display = "none"
        } else {
            profileForm.style.display = "none"
            profileDetails.style.display = "block"
        }
    }
    function toggleEditPassword() {
        var profileInfo = document.getElementById("profile-info")
        var passwordForm = document.getElementById("password-form")
        if (passwordForm.style.display === "none") {
            passwordForm.style.display = "block"
            profileInfo.style.display = "none"
        } else {
            passwordForm.style.display = "none"
            profileInfo.style.display = "block"
        }
    }
    function toggleEditPreferences() {
        var profileDetails = document.getElementById("profile-info")
        var preferencesForm = document.getElementById("preferences-form")
        if (preferencesForm.style.display === "none") {
            preferencesForm.style.display = "block"
            profileDetails.style.display = "none"
        } else {
            preferencesForm.style.display = "none"
            profileDetails.style.display = "block"
        }
    }
</script>

{% endblock %}